$color-grey-10: #13151A;
$color-grey-50: #70747F;
$color-grey-85: #CCCFD9;
$color-grey-92: #E4E5EB;
$color-grey-98: #FAFAFA;
$color-blue: #0080FF;
$color-red: #FF3300;

$color-primary: $color-red;
$color-border: $color-grey-85;
$color-background: $color-grey-98;
$color-inputbg: $color-grey-92;
$color-text: $color-grey-10;

$base: 6px;
$border-radius: 12px;

$shadow: 0 2px 4px rgba(0, 0, 0, .075);

$tablet: 100*$base;
$desktop: 170*$base;


@font-face {
    font-family:'ubuntu';
    src: url('/fonts/ubuntu-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}

@font-face {
    font-family:'ubuntu';
    src: url('/fonts/ubuntu-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}

@font-face {
    font-family:'ubuntu';
    src: url('/fonts/ubuntu-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}