.header {
	max-width:1008px;
	width:100%;

	@include breakpoint($desktop) {
		margin: 3*$base auto;
		padding:0 4*$base;
		display:flex;
	}

	&:before {
		content:'';
		display:block;
		height:8*$base;

		@include breakpoint($desktop) {
			display:none;
		}
	}

	.inner {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:8*$base;
		background:#FFF;
		border-bottom:$color-border 1px solid;
		z-index:1000;
		display: flex;

		@include breakpoint($tablet) {
			left:40*$base;
		}

		@include breakpoint($desktop) {
			position:static;
			height:6*$base;
			border:0;
			display:flex;
			flex-grow:1;
		}

		&.for-todo-form {
			flex-basis: (100% / 3 * 2);
		}

		h2 {
			flex-grow: 1;

			@include max-breakpoint($desktop) {
				&:first-child {
					margin-left:4*$base;
				}
			}
		}
	}

	.toggle-nav {
		line-height: 8*$base;
		padding:0 0 0 4*$base;
		width:9*$base;
		font-size:17px;

		&:hover {
			text-decoration: none;
		}

		@include breakpoint($tablet) {
			display:none;
		}
	}

	h2 {
		line-height: 8*$base;
		display:block;

		@include breakpoint($tablet) {
			padding-left:4*$base;
		}

		@include breakpoint($desktop) {
			padding-left:0;
			line-height:6*$base;	
		}

		.link {
			display: inline-block;
			margin-left:1*$base;
			font-size:12px;
			font-weight: 400;
			text-decoration: underline;
			color:$color-grey-50;

			&:hover {
				color:$color-primary;
			}
		}
	}
}



@include max-breakpoint($desktop) {
	.secondary-nav-wrapper {

		+.header-wrapper {
			margin-bottom:4*$base;

			.header {
				position: static;
				padding:0;

				&:before {
					display:none;
				}
			}

			.inner {
				position: static;

				h2 {
					font-size:14px;
					
					&:first-child {
						margin-left:0;
					}
				}
			}

			.button-wrapper {
				padding:1*$base 4*$base 0 0;
			}
		}
	}
}

@include max-breakpoint($tablet) {
	.secondary-nav-wrapper {
		+.header-wrapper {
			.inner {
				h2 {
					&:first-child {
						margin-left:2*$base;
					}
				}
			}

			.button-wrapper {
				padding:1*$base 1*$base 0 0;
			}
		}
	}
}