$color-grey-50: #70747F;
$color-grey-85: #CCCFD9;
$color-grey-98: #FAFAFA;
$color-blue: #0080FF;
$color-red: #FF3300;
$color-yellow: #FFFFCC;
$color-lightblue: #EEE;
$color-warm:#F7F5F2;

$color-border: $color-grey-85;
$color-background: $color-grey-98;
$color-inputbg: $color-lightblue;

$base: 6px;

$shadow: 0 2px 4px rgba(0, 0, 0, .075);