html, body {
  font-family: Ubuntu, sans-serif;
  font-size:14px;
  min-height:100%;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
}



/*
  HELPERS
*/

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}



/*
  GRID
*/

.container {
  margin:0 auto;
  max-width:160*$base;
}

.margin-top {
  margin-top:3*$base;
}

.margin-bottom {
  margin-bottom:0*$base;
}

.margin-right {
  margin-right:3*$base;
}

.padding-inner {
  padding-left:3*$base;
  padding-right:3*$base;
}

.small-container {
  max-width:106*$base;

  &.padding-inner {
    // 106 + 3 + 3
    max-width:112*$base;
  }
}


@media (min-width:112*$base) {

  .margin-top {
    margin-top:6*$base;
  }

  .container-50 {
    width:50%;
    float:left;
    padding:0 2*$base 0 0;
  }

  .container-50:last-of-type {
    padding:0 0 0 2*$base;
  }
}



/*
  ATOMIC
*/

h2, h3 {
  font-size:20px;
  line-height:6*$base;
  font-weight:600;
}

a {
  display:inline-block;
  color:$color-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 4*$base;
}

small {
  display:block;
  font-size: 12px;
  line-height: 3*$base;
}


.btn {
  border:$color-border 1px solid;
  border-top:rgba($color-border, .75) 1px solid;
  border-left:rgba($color-border, .75) 1px solid;
  background:#FFF;
  font-size:14px;
  font-weight:600;
  text-decoration: none;
  border-radius: 3*$base;
  padding:0 3*$base;
  display:inline-block;
  line-height:-2+6*$base;
  box-shadow:$shadow;
  cursor:pointer;
  text-align: center;
  color:$color-blue;
  outline:none;
  background: linear-gradient(180deg, #FFF 0%, $color-background 100%);

  &:hover {
    border-color:$color-blue;
    text-decoration: none;
  }

  &:focus {
    border-color: blue;
    box-shadow: 0 0 0 1px inset;
  }

  &.square {
    width:7*$base;
    padding:0;
  }

  &.red {
    color:$color-red;

    &:hover {
      border-color:$color-red;
    }
  }

  &.end {
    width:auto;
    float:right;
  }

  &.back {
    position: absolute;
    margin:-1*$base 0 0 0;
    z-index:100;
  }

  +.btn {
    margin-left:1*$base;
  }
}




.mt-2 {
  margin-top:2*$base;
}

.mb-2 {
  margin-bottom:2*$base;
}

.mb-4 {
  margin-bottom:4*$base;
}

.center {
  text-align: center;
}







.err {
  color:red;
  margin:2*$base 0;
}

.box {
    box-shadow:$shadow;
    border-radius: 12px;
    margin-bottom:8*$base;
    border:$color-border 1px solid;
    padding:-1+4*$base;

    >p {
      margin-bottom:4*$base;
    }
}

.empty-box {
  margin-top:8*$base;
  position: relative;
  background:#FFF;
  padding:6*$base 4*$base;
  border-radius: 12px;
  box-shadow:$shadow;
  border:$color-border 1px solid;
  text-align: center;

  &:before, &:after {
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#FFF;
    border-radius: 12px;
    box-shadow:$shadow;
    border:$color-border 1px solid;
    transform: rotateZ(1deg);
    z-index:-1;
  }

  &:after {
    transform: rotateZ(2deg);
    z-index:-2;
  }

  span {
    display: block;
    position: relative;
    z-index:100;
  }
}

.pic {
  width:10*$base;
  height:10*$base;
  float:right;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 50%;
  background:#EEE;

  img {
    object-fit:cover;
    width: 100%;
    height: auto;
  }
}

.message {
  display:block;
  box-shadow: 0 0 0 2px #68B359 inset;
  line-height:6*$base;
  padding:0 4*$base;
  margin:0 0 4*$base 0;
  color:#68B359;
  border-radius: .5*$base; 
  font-weight: 600;
}


main {
  display:block;
}


section {
  width:90%;
  margin:4*$base auto;
  max-width:960px;
}

@media (min-width:112*$base) {
  section {
    margin:4*$base auto;
  }
}



.flex {
  display:flex;
  flex-direction: row;

  .left {
    width:25%;
    padding-right:4*$base
  }

  .right {
    width:75%;
  }
}


li {
  &:first-child {
    .checkmark {
      &:hover {
        +a {
          border-top:$color-blue 1px solid;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          box-shadow:none;
        }
      }
    }
  }

  .checkmark {
    &:hover {
      +a {
        text-decoration:none;
        border-color: $color-blue;
        box-shadow: 0 -1px 0 $color-blue;
        background:$color-background;
      }
    }
  }
}

.checkmark {
  position: absolute;
  top:2*$base;
  left:2*$base;
  width:5*$base;
  height:5*$base;
  border-radius: 1*$base;
  background:$color-inputbg;

  iframe, form, button {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  iframe {
    border:0;
    border-radius: 6px;

  }

  form {
    background:transparent;
  }

  button {
    cursor: pointer;
    border-radius: 1*$base;
    border:transparent 1px solid;
    background:transparent;
    overflow: hidden;
    text-indent: -9999px;
    transition: all 150ms ease;
    outline:none;

    &:hover, &:focus {
      border-color:$color-blue;
      box-shadow: $shadow;
    }
  }
}


.checked {
  line-height: 5*$base;
  text-align: center;
  font-size:14px;
  background:$color-blue;
  border-radius: 12px;

  div {
    width:6px;
    height:12px;
    border-bottom:#FFF 2px solid;
    border-right:#FFF 2px solid;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
    margin:-1px 0 0 0;
  }
}



.todo-form {
  flex-basis: 33.33333%;
  position: relative;

  input {
    position: absolute;
    top:0;
    right:0;
    width:100%;
    border-radius: 12px;
    background:$color-inputbg;
    border:0;
    font-size:14px;
    line-height: 3*$base;
    padding:1.5*$base 4*$base;
    outline:none;
    transition: width 150ms ease;

    &:focus {
      width:300%;
      box-shadow: 0 0 0 1px $color-blue inset;
    }

    &:valid {
      +div {
        opacity: .5;
        transform:translateX(0);
      }
    }
  }

  div {
    position: absolute;
    top:100%;
    right:0*$base;
    font-size:12px;
    line-height: 3*$base;
    opacity: 0;
    transform: translateX(-2*$base);
    transition: all 150ms ease;
  }
}

